.card--container {
  height: 475px;
  max-width: 300px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
}
