.card--container {
  height: 475px;
  width: 300px;
  background: linear-gradient(to top, --water, #93db84);
  border-radius: 10px;
  box-shadow: 1px 1px 10px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
}
